{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Disjord">
  <meta property="og:title" content="Title">
  <meta property="og:author" content="R0bl0x10501050">
  <meta property="og:description" content="A blazing fast Discord API wrapper!">
  <meta name="twitter:title" content="Disjord">
  <meta name="twitter:description" content="A blazing fast Discord API wrapper!">
  <meta name="twitter:creator" content="@R0bl0x10501050">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}
